<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome" />
    <test preserve-order="true" name="Test Waits">
        <classes>
            <class name="SeleniumIntro.SeleniumFirstDemo" />
        </classes>
    </test>
</suite>